<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mini Projects</title>
  </head>
  <body class="w-full h-screen bg-zinc-900 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h2 class="text-2xl sm:text-xl font-bold mb-6 text-center text-zinc-800">
        Login
      </h2>
      <form action="/login" method="post" class="flex flex-col gap-4">
        <!-- Email Field -->
        <div class="relative">
          <span class="absolute left-2 top-3 text-zinc-400">
            <i class="fas fa-envelope"></i>
          </span>
          <input
            id="email"
            type="email"
            name="email"
            placeholder="Email"
            required
            class="peer w-full p-2 pl-10 rounded-md border border-zinc-300 focus:border-zinc-500 focus:outline-none"
          />
          <p class="text-red-500 text-sm mt-1 hidden" id="email-error">
            Please enter a valid email address.
          </p>
        </div>
        <!-- Password Field -->
        <div class="relative">
          <span class="absolute left-2 top-3 text-zinc-400">
            <i class="fas fa-lock"></i>
          </span>
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
            minlength="6"
            class="peer w-full p-2 pl-10 rounded-md border border-zinc-300 focus:border-zinc-500 focus:outline-none"
          />

          <p class="text-red-500 text-sm mt-1 hidden" id="password-error">
            Password must be at least 6 characters long.
          </p>
        </div>
        <!-- Submit Button -->
        <button
          type="submit"
          class="bg-zinc-800 text-white p-2 rounded-md hover:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-zinc-500 transition-colors"
        >
          Login
        </button>
      </form>
    </div>
  </body>
</html>
